body {
    background-image: url('Cool-White-Background-43-1024x640.jpg');
    background-size: cover

}
h1 {
    color: black;
    text-align: center;
}
p {
    color: black;
    font-family: verdana;
    font-size: 20px;
}
a {
color: red;
}
h2 {
color: black;
text-align: center;
}

p1 {
    color: red;

    font-family: verdana;
    font-size: 20px;
}
